<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <table>
                <tr>
                    <td>아이디 : 
                        <input type="text" v-if="!result" v-model="info.userId">
                        <input type="text" v-else v-model="info.userId" disabled>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 : <input type="password" v-model="info.pwd"></td>
                </tr>
                <tr>
                    <td>이름 : <input type="text" v-model="info.userName"></td>
                </tr>
            </table>
            <div>
                <button @click="fnJoin()">회원가입</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
     const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                info : {
                    userId : "",
                    pwd : "",
                    userName : "",
                    result : false
                }
            }
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnJoin: function() {
                let self = this;
                if(!self.result){
                    alert("중복체크 후 이용 가능합니다.")
                    return;
                }
                fetch("http://localhost:3000/user/join", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(self.info)
                })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        if (data.result === "success") {
                            self.result = data.result;
                            alert(data.info.userName +"님 환영합니다!");
                            location.href = "../student/stu-list.html";
                        } else {
                            alert("이미 가입된 회원입니다.");
                        } 
    
                    })
            },
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
        
        }
    });

    app.mount('#app');
</script>